body{
    overflow:hidden;
    background:black;
    color:white;
    font-family:consolas;
    user-select: none;
}

button{
background:linear-gradient(#efefef, rgb(26, 202, 202));
border:none;
cursor:pointer;
outline: none;
border-radius:20px;
}




#over{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.0);
    backdrop-filter:blur(10px);
}
